@use '../variables';

.button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;

  &--primary {
    color: variables.$textColor;
    background-color: variables.$purple;
  }

  @media (max-width: 640px) {
    width: 100%;
    display: block;
  }

  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
  }
}